@CHARSET "UTF-8";
body {
    margin-top: 0px;
    background-color: #5577ff;
    font-family: Helvetica, Arial, FreeSans, san-serif;
    color: #000000;
}
#container {
    margin: 0px auto 0px auto;
    width: 700px;
    clear: both;
    background-color: #ffffff;
    padding: 0px 10px 10px 10px;
	border: 1px solid #000000;
	border-top: 0px;
	-moz-box-shadow: 3px 3px 3px #333333;
	-webkit-box-shadow: 3px 3px 3px #333333;
	box-shadow: 3px 3px 3px #333333;
}
nav li {
    float: left;
    margin: 0px 10px 0px 0px;
    list-style-type: none;
}
nav ul {padding-bottom: 10px}
h1 { font-size: 3em;  margin: 5px 0px 5px 0px; padding: 0px;}
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none;}
h2 { font-size: 1.5em; }
h3 { text-align: center;  }
a { color: #292900; }
#header {height: 130px; border-bottom: 1px solid black; padding-top: 1px;}
#header_logo {float: left}
#header_logo img { height: 120px; width: 90px; margin-right: 5px;}
.description { font-size: 1em; margin-bottom: 5px; margin-top: 5px; font-style: italic; }
.download { float: right; }
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.title {padding: 10xp; margin: 5px 0px;}
.footer { text-align:center; padding-top:30px; font-style: italic; }


/*ALTERNATE HIGHLIGHT COLOR */
h1,
h1 a,
h2,
h3
#ALTERNATE_HEADER_COLOR
{
	color: #5577ff;
}