@CHARSET "ISO-8859-1";

 
span:hover {
	background-color: #CCCCFF;
	cursor: pointer;
}

#mat_text_viewer {
    margin-top: 10px;
    height: 100px;
    width: 420px;
    border:1px solid blue;
    overflow: auto;
    padding: 3px;
}

.highlighted_text_segment {
	color: purple;
}
a {
	text-decoration: none;
	color: #000000;
}


.mat_media_file_segment {
	position: absolute;
	height: 99%;
	border-right: 1px solid black;
	border-left: 1px solid black;
}

#mat_timeline {
	position: relative;
}