@CHARSET "ISO-8859-1";


#mat_text_viewer {
    margin-top: 10px;
    height: 150px;
    width: 420px;
    border:1px solid blue;
    overflow: auto;
    padding: 3px;
    line-height: 150%;
}



a.mat_char_group_word {
	text-decoration: none;
	color: #000000;
    border-bottom: 3px solid transparent;
    margin-top: 3px;
}

span.mat_char_group_non_word {
    text-decoration: none;
    color: #000000;
    border-bottom: 3px solid transparent;
    margin-top: 3px;
}

a.highlighted_text_segment {
    color: purple;
    border-bottom: 3px solid black;
    margin-top: 3px;
}
.mat_time_segment {
	position: absolute;
	height: 36px;
	border: 2px solid black;
}
.highlighted_time_segment {
    border: 2px solid purple;
}

#mat_timeline {
	position: relative;
	height: 40px;
	margin-top: 20px;
}

#mat_time_editor {
	width: 500px;
	height: 80px;
	border: 1px solid black;
}